{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'css/tailwind.css' %}" rel="stylesheet"> -->

</head>
<body>
    <h1 class="giri">hello world</h1>
</body>
</html>